@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');
#jadwal {
  font-family: 'Roboto', sans-serif;
}
#jadwal * {
  box-sizing: border-box !important;
}
.selected-day {
  margin-left: 16px;
  margin-right: 16px;
}
.j-btn {
  background-color: #1890ff;
  color: #fff;
  border: solid 1px #ccc;
  padding: 4px 16px;
  border-radius: 4px;
  cursor: pointer;
}
/* utils */
.j-row,
.its-flex {
  display: flex;
}
.j-col {
  flex-grow: 1;
  flex-basis: 0;
  max-width: 100%;
  box-sizing: border-box;
}
.justify-center {
  justify-content: center;
}
.justify-start {
  justify-content: flex-start;
}
.justify-end {
  justify-content: flex-end;
}
.justify-around {
  justify-content: space-around;
}
.justify-between {
  justify-content: space-between;
}
.justify-evently {
  justify-content: space-evenly;
}
.align-start {
  align-items: flex-start;
}
.align-center {
  align-items: center;
}
.align-end {
  align-items: flex-end;
}
.align-stretch {
  align-items: stretch;
}
.align-baseline {
  align-items: baseline;
}

.schedules-header, .schedules-content {
  width: fit-content;
}
.hours .j-col {
  padding: 8px 0;
}

.hours {
  border-top: solid 1px #ccc;
}

.hour {
  border-right: solid 1px #ccc;
}
.time {
  width: 100px;
}
.schedule-container {
  overflow: auto;
}
.schedules-content {
  position: relative;
}
.schedules-content>.j-row{
  border-top: solid 1px #ccc;
}
.activities {
  position: absolute;
  width: 100%;
  height: 100%;
}
.activities-group {
  height: 28px;
}
.activity {
  position: absolute;
  background-color: rgb(128, 197, 246);
  border-radius: 16px;
  padding: 4px;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  z-index: 99;
  cursor: pointer;
}
.legends {
  width: fit-content;
  font-weight: bolder;
}
.legends-title {
  border: solid 1px #ccc;
}
.legends-title .j-col {
  padding: 8px 0;
}
.legends .item{
  border: solid 1px #ccc;
  border-top: none;
  padding: 4px 0;
  height: 28px;
  min-width: 150px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.cell {
  width: 50px;
  height: 28px;
  border: solid 1px #ccc;
  border-left: none;
  border-top: none;
  padding: 4px 0;
  z-index: 9;
  cursor: pointer;
}